@model FinancePortal.Models.InvoiceViewModel

@{
    ViewData["Title"] = "FindInvoice";
}

<h1>FindInvoice</h1>

<div>
    <h4>InvoiceViewModel</h4>
    @Html.HiddenFor(model => model.Id)

    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.StudentId)*@
            Student ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="FindInvoice">Find another Invoice</a>

     @if (Model.Status == "OUTSTANDING")
    {
      <form asp-action="PayInvoice">      
         <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Pay" class="btn btn-primary" />
            </div>
        </form>
    }
</div>
