@model FinancePortal.Models.InvoiceViewModel

@{
    ViewData["Title"] = "FindInvoice";
}

<h4>Invoice</h4>

<div>
  
    @Html.HiddenFor(model => model.Id)

    <hr />
    <dl class="row">
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DueDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.StudentId)*@
            Student ID
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
    </dl>
</div>
<div>
    
    <a class="btn btn-dark" style="float:left" asp-action="FindInvoice">Find another Invoice</a>
   

     @if (Model.Status == "OUTSTANDING")
    {
      <form asp-action="PayInvoice">      
         <input type="hidden" asp-for="Id" /> 
         <input type="submit" value="Pay Invoice" class="btn btn-primary"style="float:left; margin-left:15px;"  />
          @*  <div class="form-group"></div>*@
        </form>
    }
</div>
